/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: rgb(162,191,244);
background: linear-gradient(180deg, rgba(162,191,244,1) 0%, rgba(214,227,250,1) 100%);
  
}
body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  background: #ddd;
}
body::-webkit-scrollbar-thumb {
  background: #aaa;
}

body,
button,
input,
select,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
h1 {
  font-family: "Lato", sans-serif;
  font-weight: bold 700;
  
}
h1,
h2,
h3 {
  color: #16191d;
 text-shadow: rgba(0,0,0,.2) 2px 2px 2px,rgba(255,255,255,.4) 0 -4px 20px;
}
h4,
h5,
h6 {
  clear: both;
}

.side-nav {
  color: #16191d;
 text-shadow: rgba(0,0,0,.2) 1px 1px 1px,rgba(255,255,255,.4) 0 -3px 15px;
}


p {
  margin-bottom: 1.5em;
}

b,
strong {
  font-weight: bold;
}

figure {
  margin: 0;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
  border-radius: 0.2em;
}

/*--------------------------------------------------------------
Header:
--------------------------------------------------------------*/

.masthead {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 0 1em;
  text-align: center;
 width: 100vw;
  background-color: #EBF3F5;
  border-bottom: 1px solid #ccc;
  width: 100vw;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
z-index:2;
}


.round-container {
  margin: 1em 0.5em;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.round-content {
  display: block;
  background: #a1bff3;
  color: #EBF3F5;
  position: absolute;
  text-align: center;
  font-size: 40px;
  line-height: 64px;
  margin: 8px;
  width: 64px;
  height: 64px;
  border-radius:80px;
  cursor: url(images/glove2.png), auto;
  animation: pulseAnim 2s infinite;
}


@keyframes pulseAnim {
    0% {
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(88, 120, 243, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 0);
    }
}

.round-content:hover {
color: #0e3275;
transition: 500ms ease;
}
.round-content:active {
background-color:#90b3f1 ;
transition: 500ms ease;
transform: scale(0.9);
}

/*--------------------------------------------------------------
Navigation:
--------------------------------------------------------------*/
.main-nav {
  padding: 1em;
  font-size: 1.1em;
  background-color:#EBF3F5;
  overflow-y: auto;
  width: 15em;
  z-index: 3;
  border: 1px solid #ccc;
}

.trigger {
  display: none;
  margin-left: 0.4rem;
  padding: 0.3em 0.5em;
  color: #292b2c;
  background: #e3ecf4;
  transform: rotate(90deg);
  border-radius:0.5rem 0.5rem 0 0;
  border: 1px solid #ccc;
  animation: pulseAnim 2s infinite;
}

@keyframes pulseAnim {
    0% {
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(88, 120, 243, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 0);
    }
}

.trigger:focus,
.trigger:hover {
  background: #9fbad6;
  color: #f7f7f7;  
  cursor: url(images/glove2.png), auto;
  transition: 500ms ease;
  border-radius:0.5rem 0.5rem 0 0;
}

.trigger:focus {
  outline-color: #80a9cd;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}



.main-nav a {
  display: block;
  padding: 0.4em 0.8em;
  text-decoration: none;
  color: #16191d;
  width: 250px;
  border-radius: .5rem;
  color: #000;
  
}

.main-nav a:hover,
.main-nav a:focus {
  background-color: #a2bff4;
  transition: ease .5s;
  text-decoration: none;
  cursor: url(images/glove2.png), auto;
  color: white;
}

.dropdown-menu {
  background-color: #a2bff4;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: .5rem;
}
.dropdown-menu a:hover {
  background-color: #EBF3F5;
  color: #000;
}

/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/
.main-area {
  margin-top: 7rem;
}

.card-item {
  transition: transform 1s ease;
}
.card-item:hover {
  filter: drop-shadow(
    0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)
  );
  transform: scale(1.1);
  z-index: 1;
}

.cards {
  max-width: 25em;
  margin: 1em auto;
  padding: 0;
  list-style-type: none;

}

.cards a {
  display: block;
  margin-bottom: 1em;
  text-decoration: none;
  
}

.caption {
  padding: 1em;
  font-size: 90%;
  color: black;
}

.caption-title {
  margin: 0;
  font-size: 1.4em;
  line-height: 1em;
}

.caption p {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.cards a:focus .caption,
.cards a:hover .caption {
  background: hsl(0, 0%, 97%);
  cursor: url(images/glove2.png), auto;

}
.btn-group {
  margin-top: 20px;
  margin-bottom: 0;
 
}


/*--------------------------------------------------------------
Sidebar:
--------------------------------------------------------------*/
.sidebar {
  margin-top: 9rem;
}

.twin {
      margin-top: 8rem;
  
  padding: 1em;
  background: #90b3f1;
  color: #292b2c;
  text-align: center;

}

.twin:last-of-type {
  background: #a1bff3;
  text-align: left;
}

/*--------------------------------------------------------------
Footer:
--------------------------------------------------------------*/


.footer {
  padding: 2em;
  background: #ebf3f5;
  border-top: 1px solid #ccc;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.5em;
 width: 100vw;
 overflow: auto;
}

.nav a {
  color: #16191d;
  margin: 4px;
  border-radius: .5rem;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  text-shadow: #515c6b 0 3px 4px;
}

.nav a:hover {
  background-color:  #292b2c;
  color:  #f7f7f7;
  transition: 1s ease;
  cursor: url(images/glove2.png), auto;
  text-shadow: none;
}



/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media screen and (min-width: 27em) {
    .site {
      position: relative;
      left: -16em;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 15em calc(100% - 1em);
      grid-template-areas:
        "nav header"
        "nav main"
        "nav sidebar"
        "nav footer";
      transition: left 0.6s;
     
    }

    .reveal {
      left: 0;
    }

    .masthead {
      grid-area: header;
    }

    .main-area {
      grid-area: main;
    }

    .sidebar {
      grid-area: sidebar;
    }

    .footer {
      grid-area: footer;
    }

    .main-nav {
      grid-area: nav;
    }

    .main-nav ul {
      position: fixed;
      display: none;
      flex-direction: column;
    }

    .open ul {
      display: flex;
    }

    .trigger {
      position: fixed;
      display: block;
      top: 1.5em;
      left: 0.2em;
      transition: left 0.6s;
    }

    .reveal .trigger {
      left: 16em;
    }

    .cards {
      margin: 0 auto;
      padding: 1em;
    }

    .card {
      margin: 1em 0;
      padding: 0.5em;
      display: grid;
      background: #ebf3f5;
      grid-template-columns: 8em auto;
    }

    .cards a:focus,
    .cards a:hover {
      outline: 1px solid hsl(0, 0%, 80%);
      cursor: url(images/glove2.png), auto;
    }
    .twin {
     
      padding: 2em;
      margin-left: 3em;
     }
  
  
  }

  @media screen and (min-width: 60em) {
    .cards {
      max-width: none;
      margin: 1em 0;
      display: grid;
      grid-template-columns: repeat(2, 25em);
      grid-gap: 1em;
      justify-content: center;
    }

    .card {
      margin: 0;
    }

    .double {
      grid-row: span 3;
    }

    .double .card {
      display: block;
    }
    .twin {
      padding: 1em;
      margin-left: 2em;
     }
    
  }

  @media screen and (min-width: 78em) {
    .site {
      grid-template-columns: 16em calc(100% - 16em) 16em;
      grid-template-areas:
        "nav header header"
        "nav main sidebar"
        "nav footer footer";
    }
    .twin {
      padding: 1;
     margin: 0;
     }
  
  }
