@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
--primary-color: #e9f0fc;
--secondary-color: #ffffff;
--tertiary-color: #112b5e;
--quaternary-color: #112b5e;
}

  
body {
margin: 0;
font-family: 'Open Sans', sans-serif;
animation: fadeInAnimation ease 3s; 
animation-iteration-count: 1; 
animation-fill-mode: forwards; 
}
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 

}

body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  background: #ddd;
}
body::-webkit-scrollbar-thumb {
  background: #aaa;
}

body,
button,
input,
select,
textarea {
 font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
h1 {
 font-family: 'Open Sans', sans-serif;
  font-weight: bold 700;
  
}
h1,
h2,
h3 {
  color: #16191d;
 text-shadow: rgba(0,0,0,.2) 2px 2px 2px,rgba(255,255,255,.4) 0 -4px 20px;
}
h4,
h5,
h6 {
  clear: both;
}

.side-nav {
  color: #16191d;
 text-shadow: rgba(0,0,0,.2) 1px 1px 1px,rgba(255,255,255,.4) 0 -3px 15px;
}


p {
  margin-bottom: 1.5em;
}

b,
strong {
  font-weight: bold;
}

figure {
  margin: 0;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

img {
  margin: auto;
  display: block;
  border: 0;
  width: 90%;
  height: auto;
  border-radius: 0.2em;
}
.float {
  animation: up-down 1s infinite alternate;
}

@keyframes up-down {
  from {
    transform: translateY(-4px);
  }
  to {
    transform: translateY(4px);
  }
}
.googleshield {
  width: 80%;
}
.electron    { 
animation:spin 6s linear infinite;
}

@keyframes spin { 
  100% { 
    transform:rotate(360deg); 
  }
}
/*--------------------------------------------------------------
Header:
--------------------------------------------------------------*/

.masthead {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1em;
  text-align: center;
  max-width: 100%;
  background-color: var(--primary-color);
  border-bottom: 1px solid #ccc;
  z-index:3;
}

/*--------------------------------------------------------------
Navigation:
--------------------------------------------------------------*/
.main-nav {
  padding: 1rem;
  font-size: 1rem;
  background-color:var(--primary-color);;
  overflow-y: auto;
  width: 18.3rem;
  z-index: 3;
  border: 1px solid #ccc;
}

.trigger {
  padding: 0.3rem 0.6rem;
  color: #16191d;
  background: #e3ecf4;
  border-radius: 0 0.3rem 0.3rem 0;
  border: 1px solid #ccc;
  animation: pulseAnim 2s infinite;
}

.trigger:focus,
.trigger:hover {
  background:  var(--quaternary-color);
  color: #f7f7f7;  
  cursor: url(images/glove2.png), auto;
  transition: 500ms ease;
  border-radius: 0 0.3rem 0.3rem 0;
  animation: none;
  outline: 0;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}



.main-nav a {
  display: block;
  padding: 0.4em 0.8em;
  text-decoration: none;
  color: #16191d;
   border-radius: 0.3rem;
  color: #000;
 
}

.main-nav a:hover,
.main-nav a:focus {
  background-color: #a2bff4;
  transition: ease .5s;
  text-decoration: none;
  cursor: url(images/glove2.png), auto;
  color: #000;
}

.dropdown-menu {
  background-color: var(--tertiary-color);
  border: none;
  color: var(--secondary-color);
  font-size: 1rem;
  border-radius: 0.3rem;
  width: 12.8rem;
  line-height: 1.3;
}
.dropdown-menu .dropdown-item {
  color: var(--secondary-color);
}
.dropdown-menu a:hover {
  background-color:var(--primary-color);;
  color: #000;
  border-radius: 0;
}

/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/
.main-area {
  margin-top: 7rem;
}


.card-item {
  transition: transform 1s ease;
}
.card-item:hover {
  filter: drop-shadow(
    0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)
  );
  transform: scale(1.1);
  z-index: 2;
}

.cards {
  max-width: 25em;
  margin: 1em auto;
  padding: 0;
  list-style-type: none;

}

.cards a {
  display: block;
  margin-bottom: 1em;
  text-decoration: none;
  
}

.caption {
  padding: 1em;
  font-size: 90%;
  color: black;
}

.caption-title {
  margin: 0;
  font-size: 1.4em;
  line-height: 1em;
}

.caption p {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.cards a:focus .caption,
.cards a:hover .caption {
  background: var(--secondary-color);
  cursor: url(images/glove2.png), auto;

}
.btn-group {
  margin-top: 20px;
  margin-bottom: 0;
 
}


/*--------------------------------------------------------------
Sidebar:
--------------------------------------------------------------*/
.sidebar {
  margin-top: 9rem;
}

.twin {
  margin-top: 8rem;
  padding: 1em;
  background: #d8e4fa;
  color: #292b2c;
  text-align: center;
border-radius: 0.3rem 0 0 0;

}

.twin:last-of-type {
  background:var(--primary-color);
  text-align: left;
  border-radius: 0;
}

/*--------------------------------------------------------------
Footer:
--------------------------------------------------------------*/


.footer {
  padding: 2em;
  background:var(--primary-color);;
  border-top: 1px solid #ccc;
  text-align: center;
  width: 100vw;
  overflow: auto;
}
.fab, .fa {
  animation: backgroundColorPalette 10s ease-in-out infinite;
}

@keyframes backgroundColorPalette {
  0% {
    background: #112b5e;
    color: #e9f0fc;
  }
  10% {
    background: #e9f0fc;
    color: #112b5e;
  
  }
  20%{
    background: #112b5e;
    color: #e9f0fc;
  }
  30%{
    background:#e9f0fc;
    color: #112b5e;
  }
  40%{
    background: #112b5e;
    color: #e9f0fc;
  }
  50% {
    background: #e9f0fc;
    color: #112b5e;
  }
  60% {
    background: #112b5e;
    color: #e9f0fc;
      }
  70% {
    background: #e9f0fc;
    color: #112b5e;
  }
  80% {
    background: #112b5e;
    color: #e9f0fc;
  }
  90% {
    background: #e9f0fc;
    color: #112b5e;

  }
100% {
    background: #112b5e;
    color: #e9f0fc;
}
}

.round-container {
  margin: 1em .5em;
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: var(--quaternary-color);


}
.trigger, .masthead .round-container{
  animation: pulseAnim 2s infinite;
}
@keyframes pulseAnim {
    0% {
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(88, 120, 243, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 0);
    }
}
.round-container:hover{
  animation: none;
}

.round-content i {
  display: block;
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  position: absolute;
  text-align: center;
  font-size: 1.8rem;
  line-height: 45px;
  margin:0.48rem;
  width: 45px;
  height: 45px;
  border-radius:50px;
  cursor: url(images/glove2.png), auto;
}

.round-content:hover i {
  /* background-color: var(--quaternary-color);
  color: var(--secondary-color);
transition: 500ms ease; */
animation: none;
}
.round-content:active i {
background-color:#7fa7ef ;
transition: 300ms ease;
transform: scale(0.9);
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media screen and (min-width: 27em) {
    .site {
      position: relative;
      left: -16em;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 15em calc(100% - 1em);
      grid-template-areas:
        "nav header"
        "nav main"
        "nav sidebar"
        "nav footer";
      transition: left 0.6s;
     
    }

    .reveal {
      left: 0;
    }

    .masthead {
      grid-area: header;
    }

    .main-area {
      grid-area: main;
    }

    .sidebar {
      grid-area: sidebar;
    }

    .footer {
      grid-area: footer;
      width: 100vw;
    }

    .main-nav {
      grid-area: nav;
    }

    .main-nav ul {
      position: fixed;
      display: none;
      flex-direction: column;
    }

    .open ul {
      display: flex;
    }

    .trigger {
      position: fixed;
      display: block;
      top: 1.5em;
      left: 0.2em;
      transition: left 0.6s;
    }

    .reveal .trigger {
      left: 16em;
    }

    .cards {
      margin: 0 auto;
      padding: 1em;
    }

    .card {
      margin: 1em 0;
      padding: 0.5em;
      display: grid;
      background:var(--primary-color);
      grid-template-columns: 8em auto;
    }

    .cards a:focus,
    .cards a:hover {
   
      cursor: url(images/glove2.png), auto;
    }
    .twin {
      margin: 0 auto;
      margin-left: 3rem;
   
     }
  
  
  }

  @media screen and (min-width: 60em) {
    .cards {
      max-width: none;
      margin: 1em 0;
      display: grid;
      grid-template-columns: repeat(2, 25em);
      grid-gap: 1em;
      justify-content: center;
    }

    .card {
      margin: 0;
    }

    .double {
      grid-row: span 3;
    }

    .double .card {
      display: block;
    }
    .twin {
      padding: 1em;
      margin-left: 2em;
  
     }
    
  }

  @media screen and (min-width: 78em) {
    .site {
      grid-template-columns: 16em calc(100% - 16em) 16em;
      grid-template-areas:
        "nav header header"
        "nav main sidebar"
        "nav footer footer";
    }
    .twin {
      margin: 0;
   
     }
  
  }
