@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
  --primary-color: #e9f0fc;
  --secondary-color: #fffff7;
  --tertiary-color: #050d1d;
  --quaternary-color: #08142d;
  }
html {
  min-height: 160vh;
  scrollbar-width: thin;
  scrollbar-color:#fffff7  #050d1d ;
}

body {
background-color: var(--tertiary-color);
margin: 0;
font-family: 'Open Sans', sans-serif;
animation: fadeInAnimation ease 3s; 
animation-iteration-count: 1; 
animation-fill-mode: forwards; 
}
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 

}

body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  background-color: var(--tertiary-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

body,
button,
input,
select,
p, li {
 font-family: 'Open Sans', sans-serif;
 font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 300;
}
.site-title, .site-subtitle, .content-title  {
  font-family: 'Open Sans', sans-serif;
  color: #fffff7;
  font-weight: 300;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.63);
}

.side-nav {
 color: var(--tertiary-color);
 text-shadow: rgba(0,0,0,.2) 1px 1px 1px,rgba(255,255,255,.4) 0 -3px 15px;
}


p {
  margin-bottom: 1.5em;
  color: var(--secondary-color);
 
}
.list {
  color: var(--secondary-color);
}
b,
strong {
  font-weight: bold;
}

figure {
  margin: 0;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

img {
  margin: auto;
  display: block;
  border: 0;
  width:90%;
  height: auto;
  border-radius: 0.3em;
}
.float {
  animation: up-down 1s infinite alternate;
}

@keyframes up-down {
  from {
    transform: translateY(-4px);
  }
  to {
    transform: translateY(4px);
  }
}
.googleshield {
  width: 80%;
}
.electron    { 
animation:spin 6s linear infinite;
}

@keyframes spin { 
  100% { 
    transform:rotate(360deg); 
  }
}
/*--------------------------------------------------------------
Header:
--------------------------------------------------------------*/


.masthead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1em;
  text-align: center;
  max-width: 100%;
  height: 8rem;
  background-color: var(--tertiary-color);
  border-bottom: 1px solid #173b80;
  z-index:3;
  animation:gm-slidein 3s 1;

}

@keyframes gm-slidein {
  from {
      -webkit-transform:translate3d(0,-100%,0);
      opacity:0;
      transform:translate3d(0,-100%,0);
  }

  to {
      -webkit-transform:none;
      opacity:1;
      transform:none;
  }
}

.trigger, .masthead .icon-button {
  animation: pulseAnim 2s infinite;
}
@keyframes pulseAnim {
    0% {
        box-shadow: 0 0 0 0 rgba(217, 227, 248, 0.4);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(217, 227, 248, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(217, 227, 248, 0);
    }
}

/* Wrapper */
.masthead .icon-button {
	border-radius: 3.6rem;
	display: inline-block;
	font-size: 2.0rem;
	height: 3rem;
  width: 3rem;
  line-height: 3rem;
	margin: 1rem 0.3rem;
	position: relative;
	text-align: center;
}


/* Icons */
.masthead .icon-button i {
	color: white;
	height: 3rem;
	left: 0;
	line-height: 3rem;
	position: absolute;
	top: 0;
	width: 3rem;
  border-radius: 3.6rem;
  z-index: 10;
  cursor: url(images/glove2.png), auto;
}


.masthead .icon-button i  {
  animation: backgroundColorPalette 10s ease-in-out infinite;
}
.masthead .icon-button i:hover {
  animation: none;
  background: #050d1d;
}

@keyframes backgroundColorPalette {
  0% {
    background: #050d1d;
    color: #e9f0fc;
  }
  10% {
    background: #e9f0fc;
    color: #050d1d;
  
  }
  20%{
    background: #050d1d;
    color: #e9f0fc;
  }
  30%{
    background:#e9f0fc;
    color: #050d1d;
  }
  40%{
    background: #050d1d;
    color: #e9f0fc;
  }
  50% {
    background: #e9f0fc;
    color: #050d1d;
  }
  60% {
    background: #050d1d;
    color: #e9f0fc;
      }
  70% {
    background: #e9f0fc;
    color: #050d1d;
  }
  80% {
    background: #050d1d;
    color: #e9f0fc;
  }
  90% {
    background: #e9f0fc;
    color: #050d1d;

  }
100% {
    background: #050d1d;
    color: #e9f0fc;
}
}


/*--------------------------------------------------------------
Navigation:
--------------------------------------------------------------*/
.main-nav {
  min-height: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
  background-color:var(--tertiary-color);;
  overflow-y: auto;
  width: 16rem;
  z-index: 4;
  border-right: 1px solid #0e244e;
 
}
.side-nav li a {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 300;
}

.trigger {
  padding: 0.4rem 0.6rem;
  margin-left:2rem;
  color: #16191d;
  background: var(--primary-color);
  border-radius: 0.3rem;
  border: 1px solid #FFF;
  animation: pulseAnim 2s infinite;
  z-index: 4;
}
.trigger i {
  font-size: 1rem;
}

.trigger:focus,
.trigger:hover {
  background:  var(--tertiary-color);
  color:var(--secondary-color);  
  cursor: url(images/glove2.png), auto;
  transition: 500ms ease;
  border-radius:0.3rem ;
  animation: none;
  outline: 0;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-nav a {
  display: block;
  padding: 0.4em 0.8em;
  text-decoration: none;
  border-radius: 0.3rem;
  color: #000;
  font-weight: 400;
}

.main-nav a:hover,
.main-nav a:focus {
  background-color: var(--primary-color);
  transition: ease .5s;
  text-decoration: none;
  cursor: url(images/glove2.png), auto;
  color: #000;
 
}

.dropdown-menu {
  background-color: var(--tertiary-color);
  border: none;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 300;
  border-radius: 0.3rem;
  width: 12.8rem;
  line-height: 1.3;
  border: 1px dashed #FFFFF7;
}
.dropdown-menu .dropdown-item {
  color: var(--secondary-color);
}
.dropdown-menu a:hover {
  background-color:var(--primary-color);;
  color: #000;
  border-radius: 0;
}

/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/

.main-area {
  margin-top: 7rem;
  margin-bottom: 4rem;

}


.card-item {
  transition: transform 1s ease;
}
.card-item:hover {
  /* filter: drop-shadow(
    0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)
  );  */
  transform: scale(1.1);
  z-index: 2;
}

.cards {  
  margin: 1rem auto;
  padding: 0;
  list-style-type: none;
}

.cards a {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  }

.caption {
  padding: 1rem;
  font-size: 80%;
 }

.caption-title {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: 300;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.63);
  
}

.caption p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.cards a:focus .caption,
.cards a:hover .caption {
   cursor: url(images/glove2.png), auto;

}

.git {
  font-size: 6rem;
  margin: 0 0.5rem 0 1.5rem;
  
}
.git .fab {
  color: #000;
  animation: github 1s ease-in-out infinite alternate;
}
@keyframes github {
  from {
    text-shadow: 0 0 2px #49a4ff, 0 0 4px #49a4ff, 0 0 8px #49a4ff,
      0 0 12px #49a4ff, 0 0 16px #49a4ff, 0 0 20px #49a4ff, 0 0 24px #49a4ff;
  }
  to {
    text-shadow: 0 0 3px #0073e6, 0 0 5px #0073e6, 0 0 10px #0073e6,
      0 0 20px #0073e6, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6;
  }
}
.btn-group {
  margin-top: 20px;
  margin-bottom: 0;
 
}


/*--------------------------------------------------------------
Sidebar:
--------------------------------------------------------------*/
.sidebar {
  margin-top: 9rem;
}

.twin {
  margin-top: 8rem;
  font-size: 1rem;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-weight: 300;
 text-align: center;
border-radius: 0.3rem 0 0 0;

}

.twin:last-of-type {
  background-color: var(--quaternary-color);
  text-align: left;
  border-radius:0 0 0 0.3rem ;
}

/*--------------------------------------------------------------
Footer:
--------------------------------------------------------------*/
.footer {
  text-align: center;
  justify-content: center;
  background:var(--tertiary-color); 
   border-top: 1px solid #112b5e;   
}

/* Wrapper */
 .footer .icon-button {
	border-radius: 3.6rem;
	display: inline-block;
	font-size: 2.0rem;
	height: 3rem;
  width: 3rem;
  line-height: 3rem;
	margin: 2rem 0.3rem;
	position: relative;
	text-align: center;
}

/* Icons */
.footer .icon-button i {
  color: white;
	height: 3rem;
	left: 0;
	line-height: 3rem;
	position: absolute;
	top: 0;
	width: 3rem;
  border-radius: 3.6rem;
  cursor: url(images/glove2.png), auto;
  animation: backgroundColorPalette 10s ease-in-out infinite;
}
 .footer .icon-button i:hover{
  animation: none;
  background: #050d1d;
}

@keyframes backgroundColorPalette {
  0% {
    background: #050d1d;
    color: #e9f0fc;
  }
  10% {
    background: #e9f0fc;
    color: #050d1d;
  
  }
  20%{
    background: #050d1d;
    color: #e9f0fc;
  }
  30%{
    background:#e9f0fc;
    color: #050d1d;
  }
  40%{
    background: #050d1d;
    color: #e9f0fc;
  }
  50% {
    background: #e9f0fc;
    color: #050d1d;
  }
  60% {
    background: #050d1d;
    color: #e9f0fc;
      }
  70% {
    background: #e9f0fc;
    color: #050d1d;
  }
  80% {
    background: #050d1d;
    color: #e9f0fc;
  }
  90% {
    background: #e9f0fc;
    color: #050d1d;

  }
100% {
    background: #050d1d;
    color: #e9f0fc;
}
}
.impressum p {
  font-size: small;
}
/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media screen and (min-width: 27rem) {
    .site {
      position: relative;
      left: -16rem;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 17rem calc(100% );
      grid-template-areas:
        "nav header"
        "nav main"
        "nav sidebar"
        "nav footer";
      transition: left 0.6s;
     
    }

    .reveal {
      left: 0;
    }

    .masthead {
      grid-area: header;

    }

    .main-area {
      grid-area: main;
     }

    .sidebar {
      grid-area: sidebar;
      margin-bottom: 5rem;
    }   
    .footer {
      grid-area: footer;
      
    }

    .main-nav {
      grid-area: nav;
    }

    .main-nav ul {
      position: fixed;
      display: none;
      flex-direction: column;
    }

    .open ul {
      display: flex;
    }

    .trigger {
      position: fixed;
      display: block;
      top: 1.5rem;
      left: 0.2rem;
      transition: left 0.6s;
    }

    .reveal .trigger {
      left: 16rem;
    }

    .cards {
      margin: 0 auto;
      padding: 1rem;
    }

    .card {
      margin: 1rem 0;
      padding: 0.5rem;
      max-width: 30rem;
      display: grid;
      background-color: rgba(	5, 13, 29, 0.8);
      color: var(--secondary-color);
      grid-template-columns: 8rem auto;|
    }

    .cards a:focus,
    .cards a:hover {
   
      cursor: url(images/glove2.png), auto;
    }
    .twin {
      margin: 0 auto;
      margin-left: 3rem;
      padding: 2rem;
      border-radius: none;
      border-radius: 0.3rem 0.3rem 0 0;
   }
    .twin:last-of-type {
     margin-bottom: 4rem;
     border-radius:0 0 0.3rem 0.3rem ;
        }
    }

  @media screen and (min-width: 60rem) {
    .cards {
      max-width: none;
      margin: 1rem 0;
      display: grid;
      grid-template-columns: repeat(2, 28rem);
      grid-gap: 1em;
      justify-content: center;
    }
    

    .card {
      margin: 0;
    }

    .double {
      grid-row: span 3;
    }

    .double .card {
      display: block;
    }
    .twin {
      margin: 0 auto;
      padding: 1rem;
      border-radius: none;
      border-radius: 0.3rem 0.3rem 0 0;
   }
    .twin:last-of-type {
     margin-bottom: 4rem;
     border-radius:0 0 0.3rem 0.3rem ;
        }
  
   
  }

  @media screen and (min-width: 78rem) {
    .site {
      grid-template-columns: 16rem calc(100% - 16rem) 16rem;
      grid-template-areas:
        "nav header header"
        "nav main sidebar"
        "nav footer footer";
     
    }
    .twin {
      margin: 0;
      border-radius: 0.3rem 0 0 0 ;
   
     }
     .twin:last-of-type {
      border-radius:0 0 0 0.3rem ;
    }

  }
