@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

:root {
  --primary-color: #e9f0fc;
  --secondary-color: #fffff7;
  --tertiary-color: #050d1d;
  --quaternary-color: #08142d;
  --quinary-color: #0074d5;
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, 0.4);
  --bg-color: #141218;
}

html {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #000 #0073e6;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeSpeed;
  background: var(--tertiary-color);
  animation: fadeInAnimation ease-out 3s 1 forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0073e6;
  border: 2px solid transparent;
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: #0073e6;
}

body,
button,
p,
li {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 200;
}

.pointingHand {
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  width: clamp(2.4rem, 3.5vw, 5rem);
}

.twin p {
  text-align: left;
}

.twin p:last-child {
  text-align: justify;
}

.hyphen {
  hyphens: auto;
  text-justify: auto;
}
.side-nav {
  color: var(--tertiary-color);
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px,
    rgba(255, 255, 255, 0.4) 0 -3px 15px;
}

p,
h6 {
  margin-bottom: 1.5em;
  color: var(--secondary-color);
}
.list {
  color: var(--secondary-color);
  padding-left: 2rem;
}
.list > ::marker {
  font-size: 0.8rem;
  content: '\f0e7';
  font-family: 'Font Awesome 5 Free';
  color: var(--secondary-color);
  font-weight: 700;
}
.list > li {
  padding-left: 0.5rem;
}
.side-list {
  color: var(--secondary-color);
  padding-left: 1rem;
}
.side-list > ::marker {
  font-size: 0.8rem;
  content: '\f185';
  font-family: 'Font Awesome 5 Free';
  color: var(--secondary-color);
  font-weight: 700;
}
.side-list > li {
  padding-left: 0.4rem;
}

figure {
  margin: 0;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

img {
  margin: auto;
  display: block;
  /* border: 0; */
  width: 90%;
  height: auto;
}

.float {
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  animation: up-down 1s infinite alternate;
}

@keyframes up-down {
  from {
    transform: translateY(-4px);
  }
  to {
    transform: translateY(4px);
  }
}

.electron {
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  animation: spin 6s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
.logo-pulse {
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  transition: transform 1s ease;
  animation: in-out 1s infinite alternate;
}
@keyframes in-out {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.opacity {
  animation: stretch 1.5s ease-out alternate infinite;
}

@keyframes stretch {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*--------------------------------------------------------------
Header:
--------------------------------------------------------------*/

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1em;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  max-width: 100%;
  height: 8rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 3;
  font-size: 1rem;
  transition: all ease-out;
  animation: gm-slidein 3s ease-out;
}

@keyframes gm-slidein {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: none;
    opacity: 1;
    transform: none;
  }
}
.site-title,
.site-subtitle,
.content-title {
  color: #fffff7;
  font-weight: 200;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}
.title {
  display: grid;
  place-items: center;
  margin-top: 1rem;
  animation: fill-in 2s ease-out 3s;
}
.site-title {
  font-size: clamp(1.6rem, 2.5vw + 1rem, 3rem);
  margin: auto 0;
  opacity: 0;
  animation: fill-in 2s ease-in 2s forwards;
}

.site-subtitle {
  font-size: clamp(1rem, 2.2vw + 1rem, 2.4rem);
  opacity: 0;
  animation: fill-in 2s ease-in 2.5s forwards;
}

@keyframes fill-in {
  100% {
    opacity: 1;
  }
}

/* Wrapper */
.masthead .iconButton {
  border-radius: 50%;
  display: inline-block;
  font-size: 2.25rem;
  font-weight: 100;
  width: 3.2rem;
  height: 3.05rem;
  line-height: 3rem;
  /* margin: 1rem auto; */
  position: relative;
  text-align: center;
  /* Milk-glass code below */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}
.iconButton:hover {
  background: rgba(255, 255, 255, 0.4);
}

/*  Masthead Icons */
.mastGit {
  text-align: right;
  margin-top: -5.5rem;
  margin-right: 3rem;
}
@media screen and (max-width: 768px) {
  .mastGit {
    margin-top: -4rem;
  }
}
.masthead .iconButton i {
  color: white;
  z-index: 10;
  cursor: url(images/glove2.png), auto;
  transition: 0.2s ease;
}

.masthead .github i {
  animation: iconColorSwitch 10s ease-in-out infinite;
}
.masthead .github {
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  animation: pulseAnim 2s infinite;
}
@keyframes pulseAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(217, 227, 248, 0.6);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(217, 227, 248, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(217, 227, 248, 0);
  }
}

/*--------------------------------------------------------------
Navigation:
--------------------------------------------------------------*/
.main-nav {
  min-height: 100%;
  top: 8rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 200;
  width: 16rem;
  z-index: 6;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s ease;
  scrollbar-width: thin;
  scrollbar-color: #022648 #00549a;
}
@media screen and (max-width: 600px) {
  .main-nav,
  .mastGit,
  .pointingHand,
  .bounce {
    display: none;
  }
}
.reactList {
  display: flex;
  flex-direction: column;
}
.reactList .sidenavItem {
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 0.4rem;
  width: 90%;
  padding: 0.4rem;
  letter-spacing: 1px;
  font-weight: 300;
  transition: all 0.3s ease;
}
.reactList .sidenavItem:hover {
  background: var(--secondary-color);
  color: var(--tertiary-color);
  cursor: url(images/glove2.png), auto;
}
[data-css-icon] {
  --animdur: 0.3s;
  --loading-animdur: 0.8s;
  --animtf: ease-in;
  --bdw: 2px;
  --bdrs: 50%;
  --bgc: #457dfd;
  --c: currentcolor;
  --icon-size: 1rem;
  --size: 2.5rem;

  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
[data-css-icon] i {
  align-items: center;
  /* background-color: var(--bgc); */
  border-radius: var(--bdrs);
  box-sizing: border-box;
  display: inline-flex;
  height: var(--size);
  justify-content: center;
  position: relative;
  transition: background-color var(--animdur) var(--animtf);
  width: var(--size);
}
[data-css-icon] i::after,
[data-css-icon] i::before {
  transform-origin: 50% 50%;
  transition: all var(--animdur) var(--animtf);
}

[data-css-icon*='down'] i::after {
  background: transparent;
  border-color: var(--c);
  border-style: solid;
  box-sizing: border-box;
  content: '';
  display: inline-block;
  height: var(--icon-size);
  margin: 0;
  position: relative;
  width: var(--icon-size);
}
[data-css-icon*='down'] i::after {
  border-width: 0 var(--bdw) var(--bdw) 0;
  top: calc(0px - (var(--icon-size) / 4));
  transform: rotate(45deg);
}

[open] > summary > [data-css-icon*='down'] i::after {
  top: var(--bdw);
  transform: rotate(45deg) scale(-1);
}

details {
  width: 14rem;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
}

details {
  height: var(--collapsed);
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
details[open] {
  height: var(--expanded);
}

summary {
  background: var(--tertiary-color);
  border: 0;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  list-style-type: none;
  margin: 0.5rem 0;
  outline: none;
  padding-inline-end: 0.5rem;
  padding-inline-start: 1rem;
  user-select: none;
}
summary span:hover {
  cursor: url(images/glove2.png), auto;
}
summary::marker {
  display: none;
}
summary::-webkit-details-marker {
  display: none;
}

summary + * {
  color: #fff;
  line-height: 1.6;
  padding: 0.5rem;
}
.main-nav h6 {
  margin: 1.2rem 0 0.8rem 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}
.main-nav .about {
  list-style-type: none;
  border-radius: 0.3rem;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-nav .about img {
  width: 13.6rem;
  height: 2.2rem;
  margin: 0.4rem 0 0 0.2rem;
  cursor: url(images/glove2.png), auto;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
}

.main-nav li .navLink {
  width: 14rem;
  color: var(--secondary-color);
  font-size: 1rem;
  display: block;
  padding: 0.4em 0.8em;
  text-decoration: none;
  list-style-type: none;
  border-radius: 0.3rem;
  font-weight: 200;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.main-nav li .navLink:hover,
.main-nav li .navLink:focus {
  background-color: var(--primary-color);
  cursor: url(images/glove2.png), auto;
  color: #000;
}

/*Spinning Text */
.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: absolute;
  height: 140px;
  width: 140px;
  /* border: 1px solid #000; */
  background: url(https://user-images.githubusercontent.com/59874288/133302732-959892a4-7ab7-4c9f-a542-59b00f380d3b.jpg)
    center no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
.text {
  position: absolute;
  height: 100%;
  width: 100%;
  font-weight: 300;
  animation: rotateText 10s linear infinite;
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.text span {
  position: absolute;
  left: 50%;
  font-size: 1rem;
  transform-origin: 0 100px;
}
/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/
.main-area {
  margin-top: 7rem;
  margin-bottom: 4rem;
}

.cards {
  margin: 1rem auto;
  padding: 0;
  list-style-type: none;
}

.cards a {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
}

.caption {
  padding: 1rem;
  font-size: 80%;
}

.caption-title {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: 300;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

.caption p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.git {
  font-size: 6rem;
  margin: 0 0.5rem 0 1.5rem;
}
.git .fab {
  color: #000;
  animation: github 1s ease-in-out infinite alternate;
}
@keyframes github {
  from {
    text-shadow: 0 0 2px #49a4ff, 0 0 4px #49a4ff, 0 0 8px #49a4ff,
      0 0 12px #49a4ff, 0 0 16px #49a4ff, 0 0 20px #49a4ff, 0 0 24px #49a4ff;
  }
  to {
    text-shadow: 0 0 3px #0073e6, 0 0 5px #0073e6, 0 0 10px #0073e6,
      0 0 20px #0073e6, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6;
  }
}
.logoImg {
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  border: 1px solid #ccc;
  width: 130px;
  height: 130px;
  border-radius: 0.3rem;
}

/* ---------------------------------------------------------
Buttons
----------------------------------------------------------------*/

.btn-group {
  margin-top: 1rem;
}

.btn,
.badge {
  position: relative;
  background: transparent;
  text-transform: uppercase;
  font-size: small;
  color: var(--text-color);
  overflow: hidden;
  border: 1px solid #fff;
  outline: none;
  font-weight: 300;
  transition: all 0.3s ease;
}

.btn:focus,
.badge:focus {
  outline: none !important;
}

.btn:before,
.badge:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: bottom-left;
  transform: translateY(4rem);
  transition: transform 0.3s ease-out;
}
.btn:hover,
.badge:hover {
  background-color: transparent;
  cursor: url('image/glove2.png'), auto;
  color: #000;
}
.btn:hover:before,
.badge:hover:before {
  transform: translateY(0);
}

/*--------------------------------------------------------------
Sidebar:
--------------------------------------------------------------*/
.sidebar {
  margin-top: 9.4rem;
}

.twin {
  /* margin-top: 8rem; */
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: 300;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-bottom: none;
  border-radius: 0.3rem 0 0 0;
}

.twin:last-of-type {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: left;
  border-radius: 0 0 0 0.3rem;
}

/*--------------------------------------------------------------
Footer:
--------------------------------------------------------------*/
.footer {
  text-align: center;
  justify-content: center;
  background: var(--tertiary-color);
  border-top: 1px solid #112b5e;
}

/* Wrapper */
.footer .iconButton {
  /* border-radius: 3.6rem; */
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 100;
  /* height: 2rem; */
  width: 2.4rem;
  margin: 1rem 0.3rem;
  position: relative;
  text-align: center;
  /* Milk-glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.4rem;
  transition: all 0.3s ease;
  cursor: url(images/glove2.png), auto;
}

/* Icons */
.footer .iconButton i {
  color: white;
  cursor: url(images/glove2.png), auto;
  transition: 0.3s ease;
}

.footer .iconButton:hover {
  background: rgba(255, 255, 255, 0.5);
  /* animation: none;  */
}

.impressum p {
  line-height: 50%;
  font-size: small;
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media only screen and (min-width: 27rem) {
    .site {
      position: relative;
      left: -16rem;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 21rem calc(100%);
      grid-template-areas:
        'nav header'
        'nav main'
        'nav sidebar'
        'nav footer';
      transition: left ease-out 0.6s;
    }

    .reveal {
      left: 0;
    }

    .masthead {
      grid-area: header;
    }

    .main-area {
      grid-area: main;
      margin-bottom: 0;
    }

    .sidebar {
      grid-area: sidebar;
    }
    .footer {
      grid-area: footer;
      height: 100%;
      width: 100vw;
    }

    .main-nav {
      grid-area: nav;
    }

    .main-nav ul {
      position: fixed;
      display: none;
      flex-direction: column;
    }

    .open ul {
      display: flex;
    }

    .trigger {
      position: fixed;
      display: block;
      top: 1.5rem;
    }

    .cards {
      margin: 0 auto;
      padding: 1rem;
    }

    .card {
      margin: 1rem auto;
      padding: 0.5rem;
      max-width: 26rem;
      height: auto;
      color: var(--secondary-color);
      grid-template-columns: 8rem auto;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(2.5px);
      -webkit-backdrop-filter: blur(2.5px);
      border-radius: 0.4rem;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .cards a:focus,
    .cards a:hover {
      cursor: url('images/glove2.png'), auto;
    }
    .card-item {
      margin: auto;
    }
    .twin {
      max-width: 26rem;
      margin: 0 auto;
      padding: 1rem;
      border-radius: 0.3rem 0.3rem 0 0;
    }
    .twin:last-of-type {
      margin-bottom: 1rem;
      border-radius: 0 0 0.3rem 0.3rem;
    }
  }

  @media only screen and (min-width: 60rem) {
    /*-----Pointer Sidenav---------*/
    .bounce i {
      font-size: 2.4rem;
      color: #fff;
    }
    .bounce {
      cursor: url('images/glove2.png'), auto;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      0%,
      25%,
      50%,
      75%,
      100% {
        transform: translateX(0);
      }
      40% {
        transform: translateX(-20px);
      }
      60% {
        transform: translateX(-12px);
      }
    }

    .bounce:hover {
      animation: none;
    }
    .main-area {
      margin-bottom: 0;
    }
    .cards {
      max-width: none;
      margin: 1rem auto;
      display: grid;
      grid-template-columns: repeat(2, 28rem);
      grid-gap: 1rem;
      justify-content: center;
    }

    .card {
      display: grid;
      width: 28rem;
      margin: auto;
    }

    .double {
      grid-row: span 3;
    }

    .double .card {
      display: block;
    }
    .twin {
      max-width: 30rem;
      margin: 0 auto;
      padding: 1rem;
      border-radius: 0.3rem 0.3rem 0 0;
    }
    .twin:last-of-type {
      margin-bottom: 2rem;
      border-radius: 0 0 0.3rem 0.3rem;
    }
  }

  @media only screen and (min-width: 78rem) {
    .site {
      grid-template-columns: 16rem calc(100% - 16rem) 16rem;
      grid-template-areas:
        'nav header header'
        'nav main sidebar'
        'nav footer footer';
    }

    .main-area {
      margin-bottom: 0;
    }
    .card {
      max-width: 30rem;
      margin: auto;
    }
    .twin {
      margin: 0;
      border-radius: 0.3rem 0 0 0;
    }
    .twin:last-of-type {
      border-radius: 0 0 0 0.3rem;
    }
  }
}
@media screen and (max-width: 78rem) {
  .sidebar {
    margin-top: 0;
  }
}

@media screen and (max-width: 30rem) {
  .main-nav {
    display: none;
  }
  .main-area {
    margin-bottom: 0;
  }
}
